
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00362689
    </ion-title>
      <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon class="settings-Icon" name="settings-outline"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Enter Country" placeholder="Country name" [(ngModel)]="Keyword"></ion-input>
  <ion-button (click)="openCountries()">Search</ion-button>
</ion-content>





