<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list class="settings-list">
      <ion-checkbox class="tempType" justify="start" [(ngModel)]="Metric">Metric</ion-checkbox>
      <ion-checkbox class="tempType" justify="start" [(ngModel)]="Standard">Standard</ion-checkbox>  
      <ion-checkbox class="tempType" justify="start" [(ngModel)]="Imperial">Imperial</ion-checkbox>
  </ion-list>
  <footer>
    <p>Figure 3 settings page<br>
  </footer>
</ion-content>



