
.settings-list {
    position: relative;
}

.checkbox-item { 
    border: none;
}

.ChecklistItem {
    margin: 0.5%;
}

footer p {
    color: grey;
    font-size: 0.7rem;
    margin-left: 1vw;
}